{% extends "base.html" %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/training.css' %}">
{% endblock %}

{% block content %}
<div style="height : 100vh">
  <div class="container-fluid h-100 mt-5">
    <div class="row h-100 justify-content-center align-items-center mx-5">
      <div class="row">
        <div class="settings">
          <div class="select-wrapper">
            <label>Difficulté : </label>
            <select>
              <option value="easy">Facile</option>
              <option value="mid">Normal</option>
              <option value="hard">Difficile</option>
            </select>
          </div>

          <button id="startButton">DEMARRER</button>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script>
  document.getElementById('startButton').onclick = function (e) {
    const select = document.getElementsByTagName('select')[0];
    const difficulty = select.options[select.selectedIndex].value;

    const xhr = new XMLHttpRequest();
    xhr.open('GET', '/training/showImage?difficulty=' + difficulty);
    xhr.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
    xhr.onreadystatechange = function () {
      if (xhr.readyState == 4 && xhr.status == 200) {
        alert('GO');
      }
    };
    xhr.send();
  }
</script>
{% endblock %}