{% extends "base.html" %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/training.css' %}">
{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row justify-content-center align-items-center mx-5">
    <div class="panel form">
      <div class="select-wrapper">
        <label>Difficulté : </label>
        <select>
          <option value="easy">Facile</option>
          <option value="mid">Normal</option>
          <option value="hard">Difficile</option>
        </select>
      </div>

      <button id="startButton">DEMARRER</button>
    </div>
  </div>

  <div class="row justify-content-center align-items-center">
    <img id="cameraImage" class="mt-4" width="960" height="540" src="{% static 'yolo.jpg' %}">
  </div>
</div>
{% endblock %}

{% block scripts %}
<script>
  document.getElementById('startButton').onclick = function (e) {
    const select = document.getElementsByTagName('select')[0];
    const difficulty = select.options[select.selectedIndex].value;

    const xhr = new XMLHttpRequest();
    xhr.open('GET', '/training/showImage?difficulty=' + difficulty);
    xhr.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
    xhr.onreadystatechange = function () {
      if (xhr.readyState == 4 && xhr.status == 200) {
        alert('GO');
      }
    };
    xhr.send();
  }

  const cameraImage = document.getElementById('cameraImage');
  setInterval(function () {
    cameraImage.src = "{% static 'yolo.jpg' %}?" + new Date().getTime();
  }, 500);
</script>
{% endblock %}