* {
  /* font-family: 'Montserrat', sans-serif; */
  font-family: "Segoe UI", Roboto, sans-serif;
}

button {
  font-family: "Segoe UI", Roboto, sans-serif;
}

select {
  font-family: "Segoe UI", Roboto, sans-serif;
}

option {
  font-family: "Segoe UI", Roboto, sans-serif;
}