html,
body,
header,

.view {
  height: 100%;
  background: linear-gradient(
                     rgba(20,20,20, .5),
                     rgba(20,20,20, .5)),
                     url('https://mdbootstrap.com/img/Photos/Others/architecture.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  mask-image: url(masks.svg#mask1);
}


main{
  padding-top: 150px;
}
