<!DOCTYPE html>
<html lang="fr">

<head>
  {% load static %}

  <meta charset="UTF-8">
  <title>Smart Bloc</title>
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/base.css' %}">

  {% block styles %}{% endblock %}
</head>

<body>
  <!--Navbar-->
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="/">
        <strong>Smart Bloc</strong>
      </a>

      {% if request.session.user %}
        <span class="navbar-text">{{ request.session.user.email }}</span>
        <a href="/logout">Déconnexion</a>
      {% else %}
        <a href="/login">Connexion</a>
      {% endif %}
    </div>
  </nav>
  <!--Navbar-->

  {% block content %}{% endblock %}

  <script src="{% static 'js/jquery.slim.min.js' %}"></script>
  <script src="{% static 'js/popper.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>

  {% block scripts %}{% endblock %}
</body>

</html>