*, button, select, option {
  font-family: "Segoe UI", Roboto, sans-serif;
}

html, body {
  background: linear-gradient(
                     rgba(20,20,20, .5),
                     rgba(20,20,20, .5)),
                     url('../img/climbing-wall.jpg')
                     no-repeat
                     center center
                     fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  height: 100%;
}

.container-fluid, .container {
  flex-grow: 1;
}

body {
  display: flex;
  flex-direction: column;

  padding-top: 80px;
}

.panel {
  color: white;
  background-color: #343a40;
  padding: 40px;
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.3);
}

.form select {
  color: white;
  margin-left: 30px;
  width: 200px;
  height: 40px;
}

button, .button {
  background-color: #F46524;
  font-weight: bold;
  border: none;
  color: white;
  padding: 10px 40px;
  display: block;
  margin: auto;
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.1);
  transition: background-color 0.1s ease-in;
}

button:hover, .button:hover {
  background-color: rgb(202, 87, 33);
}

button.button-secondary, .button-secondary {
  background-color: #c7c7c7;
  font-weight: bold;
  border: none;
  color: black;
  padding: 10px 40px !important;
  display: block;
  margin: auto;
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.1);
  transition: background-color 0.1s ease-in;
}

.button-secondary:hover {
  background-color: #ffffff;
}

.form label {
  margin-right: 20px;
}

.form input {
  border-radius: 0;
  border: none;
  padding: 10px;
}

form h3 {
  text-align: center;
  margin-bottom: 40px;
}

form .field {
  display: flex;
  align-items: center;
  margin-top: 40px;
}

form .field label {
  margin-bottom: 0;
}

form .field input {
  display: inline-block;
  margin-left: auto;
}

.select-wrapper {
  margin-bottom: 40px;
}
