.menu-item {
  background-color: #F46524;
  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: column;
  margin: 45px;
  transition: background-color 0.1s ease-in;
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.3);
}

.menu-item:hover {
  background-color: rgb(202, 87, 33);
  text-decoration: none;
}

.menu-icon-wrapper {
  flex-grow: 1;
}

.menu-icon {
  position: relative;
  display: block;
  width: 80px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.menu-label {
  color: white;
  font-weight: bold;
  text-align: center;
}

@media only screen and (max-width: 1200px) {
  .menu-item {
    margin: 20px;
    width: 180px;
    height: 180px;

    font-size: 0.8rem;
  }

  .menu-icon {
    width: 80px;
  }
}

@media only screen and (max-width: 1000px) {
  .menu-item {
    margin: 20px;
    width: 160px;
    height: 160px;
  }

  .menu-icon {
    width: 60px;
  }
}

@media only screen and (max-width: 800px) {
  .menu-item {
    margin: 10px;
    width: 120px;
    height: 120px;

    font-size: 0.7rem;
  }

  .menu-icon {
    width: 50px;
  }
}
